<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <error-page>
        <exception-type>java.lang.ArithmeticException</exception-type>
        <location>/error-handler/arithmex</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/error-handler/nullpointer</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.IllegalStateException</exception-type>
        <location>/error-handler/illegalstate</location>
    </error-page>
    <error-page>
        <exception-type>java.sql.SQLException</exception-type>
        <location>/error-handler/sqlexception</location>
    </error-page>
</web-app>